body {
  background-color: #8fb9fe;
}

.top {
  width: 125%;
  background-color: black;
  height: 130px;
  margin: -20px;
}

.nav {
  width: 125%;
  background-color: #fca311;
  height: 150px;
  margin: -20px;
  position: absolute;
}

.navlist {
  position: absolute;
  top: 45px;
  right: 220px;
  width: 55%;
  text-align: center;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 21px;
  border-right: #090d25 solid 1px;
}

a {
  text-decoration: none;
  color: #000000;
}

.logoimage {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 35px;
  left: 50px;
}

.logoname {
  position: absolute;
  top: 75px;
  left: 160px;
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  color: #ff0000;
}

.head {
  text-align: center;

  margin: 65px auto;
  padding: 10px;
  font-size: 75px;
  position: relative;
  top: 80px;
  right: 390px;
  font-family: "Roboto Condensed", sans-serif;
}

.headerpic {
  background-image: url("../Images/FAQ/header.jpg");
  margin: 70px auto;
  width: 900px;
  height: 415px;
  background-size: contain;
}

.qa {
  margin: 30px auto;
  text-align: center;
  width: 900px;
  height: 200px;
  border-bottom: #000000 dotted 2px;
  font-family: "Roboto Condensed", sans-serif;
}

.answer,
.answer1 {
  font-size: 40px;
}

.question,
.question1 {
  font-size: 25px;
}

.qa1 {
  margin: 30px auto;
  text-align: center;
  width: 900px;
  height: 200px;

  font-family: "Roboto Condensed", sans-serif;
}

.footer {
  width: 125%;
  background-color: #010105;
  height: 90px;
  margin: -10px;
  position: absolute;
  bottom: -1250;
  text-align: center;
}

.copyright {
  display: inline-block;
  margin: 25px;
  position: relative;
  right: 150px;
  top: 20px;
  color: #ff0000;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}
